@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';


body{
    background-color: rgb(201, 197, 197);
    min-height:100vh;
}

.notes{
	display: flex;
	flex-wrap: wrap;
}

.note{
	flex: 0 0 100%;
	border-radius: 0.5em;
	margin:2em;
  background-color: rgb(101, 211, 176);
  border: thin tomato solid;

}

.note-body{
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	padding:1em;
  box-sizing: border-box;
  border: thin tomato;
}

.note-remove{
	color: red;
	font-size: 1em;
	top:0.5em;
	right:0.5em;
}

.note-plus{
	color: rgb(16, 75, 25);
	font-size: 1em;
	top:0.5em;
	right:0.5em;
}

.note-text{
    font-size: 1.5em;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.titlebox{
    display: block;
    background-color: rgb(36, 36, 87);
    color: white;
    border-radius: 0.5em;
    margin:2em;
    height: 8em;
    text-align: center;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
